<div>
  <div class="mt-2 flex items-center">
    <img
      *ngIf="_avatarUrl"
      [src]="_avatarUrl"
      alt="Avatar"
      class="avatar image"
      style="height: 150px; width: 150px"
    />
    <span
      *ngIf="!_avatarUrl"
      class="inline-block h-12 w-12 overflow-hidden rounded-full bg-gray-100"
    >
      <svg
        class="h-full w-full text-gray-300"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
        />
      </svg>
    </span>
    <label
      for="single"
      type="button"
      class="cursor-pointer ml-5 rounded-md border border-gray-300 bg-white py-1.5 px-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-50"
    >
      {{ uploading ? "Uploading ..." : "Upload" }}
    </label>
    <input
      style="visibility: hidden; position: absolute"
      type="file"
      id="single"
      accept="image/*"
      (change)="uploadAvatar($event)"
      [disabled]="uploading"
    />
  </div>
</div>
