<div
  class="min-h-screen bg-cover bg-no-repeat bg-fixed bg-center"
  style="
    background-image: url('../../assets/WhatsApp-Image-2021-10-13-at-11.54.58-PM.jpeg');
  "
>
  <!-- long content -->

  <div class="h-full flex items-center justify-center">
    <div
      class="w-72 p-4 bg-white shadow-lg my-16 text-gray-600"
      style="margin-top: 200px"
    >
      <div class="mb-10">
        We are a political movement committed to the creation, protection and
        promotion of a constitutional multi-party democracy, a transparent and
        accountable government, an environment conducive to the economic growth
        and economic empowerment and to the development of a culturally vibrant
        and tolerant society based on maximum participation and the respect of
        the will of the people.
      </div>
    </div>
  </div>

  <!-- end long content -->
</div>
